<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="myInsurance" class="org.study.com.BikeInsurance">
	<property name="currentOffer" value="#{'Offer IND :' +offers.offerIND}"></property>
	</bean>
	<bean id="offers" class="org.study.com.OffersGenerator"></bean>
</beans>
